rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function signedInOrPublic() {
    	let signedIn = request.auth != null && request.auth.uid != null;
      let public = resource.data.visibility == 'public';
      return signedIn || public;
    }
    
    match /{document=**} {
      allow read, write: if signedInOrPublic();
    }
  }
}